.main-container{
  display: flex !important;
  flex-direction: row !important;
  height: 100vh;
  width: 100%;
  gap: 1rem;
  overflow: hidden !important;



}

.auth-container-admin{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image:  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://img.freepik.com/free-vector/ecommerce-web-store-hand-drawn-illustration_107791-10966.jpg?semt=ais_hybrid&w=740");
    /* background:linear-gradient(170deg,#0a0f0d,#2d4f4a,#8db1a4);
    background: linear-gradient(135deg,#44291a,#a15c48,#f7d6cf);
    background: linear-gradient(135deg,#f5f3ec,#d2cdb9,#92a378); */
}

.top-content-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  justify-content: flex-start;
  /* margin-left:0.2rem ; */
  margin: 0;
}

.content-container{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 3rem;
  height: 900px ;
  overflow-x: hidden;
  overflow-y: auto !important;
   scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */

}
.content-container::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #f9f9f9; /* optional light background */
}


.loader {
        transform: rotateZ(45deg);
        perspective: 1000px;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        color: #000000;
      }
        .loader:before,
        .loader:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: inherit;
          height: inherit;
          border-radius: 50%;
          transform: rotateX(70deg);
          animation: 1s spin linear infinite;
        }
        .loader:after {
          color: #FF3D00;
          transform: rotateY(70deg);
          animation-delay: .4s;
        }

      @keyframes rotate {
        0% {
          transform: translate(-50%, -50%) rotateZ(0deg);
        }
        100% {
          transform: translate(-50%, -50%) rotateZ(360deg);
        }
      }

      @keyframes rotateccw {
        0% {
          transform: translate(-50%, -50%) rotate(0deg);
        }
        100% {
          transform: translate(-50%, -50%) rotate(-360deg);
        }
      }

      @keyframes spin {
        0%,
        100% {
          box-shadow: .2em 0px 0 0px currentcolor;
        }
        12% {
          box-shadow: .2em .2em 0 0 currentcolor;
        }
        25% {
          box-shadow: 0 .2em 0 0px currentcolor;
        }
        37% {
          box-shadow: -.2em .2em 0 0 currentcolor;
        }
        50% {
          box-shadow: -.2em 0 0 0 currentcolor;
        }
        62% {
          box-shadow: -.2em -.2em 0 0 currentcolor;
        }
        75% {
          box-shadow: 0px -.2em 0 0 currentcolor;
        }
        87% {
          box-shadow: .2em -.2em 0 0 currentcolor;
        }
      }
   